:root {
  --deep-space: #10002B;
  --void: #240046;
  --galaxy-core: #3C096C;
  --neon-purple: #5A189A;
  --electric-violet: #7B2CBF;
  --cyber-lavender: #9D4EDD;
  --quantum-glow: #C77DFF;
  --hologram: #E0AAFF;


  --font-primary: 'Poppins', sans-serif;
  --text-primary: #FFFFFF;
  --text-secondary: #E0E0E0;
  --text-glow: 0 0 10px var(--quantum-glow);
}


body {
  background: var(--void);
  color: var(--text-primary);
  font-family: var(--font-primary);
  line-height: 1.7;
}

